<template>
    <div>
        <div class="bg-gray-700 text-white font-extrabold text-center py-5">
            &copy; TouristicGuide 2020
        </div>
    </div>
</template>
<script>
export default {
    components: {}
};
</script>
