<template>
    <nav class="bg-yellow-50 border-b border-gray-100">
        <!-- Primary Navigation Menu -->
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex justify-between h-16">
                <div class="flex justify-between flex-1">
                    <!-- Navigation Links -->
                    <form class="relative mt-4">
                        <svg
                            width="30"
                            height="30"
                            fill="currentColor"
                            class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"
                        >
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                            />
                        </svg>
                        <input
                            class="focus:border-light-blue-500 focus:ring-1 focus:ring-light-blue-500 focus:outline-none w-full text-sm text-black placeholder-gray-500 border border-gray-200 rounded-md py-2 pl-10"
                            type="text"
                            aria-label="Filter projects"
                            placeholder="Search"
                        />
                    </form>

                    <!-- Settings Dropdown -->
                    <div
                        class="hidden sm:flex sm:items-center sm:ml-6"
                        v-if="$page.props.user"
                    >
                        <div class="ml-3 relative">
                            <jet-dropdown align="right" width="48">
                                <template #trigger>
                                    <avatar
                                        :username="$page.props.user.name"
                                    ></avatar>
                                </template>

                                <template #content>
                                    <!-- Account Management -->
                                    <div
                                        class="block px-4 py-2 text-xs text-gray-400"
                                    >
                                        Gestion de compte
                                    </div>

                                    <jet-dropdown-link
                                        :href="route('dashboard')"
                                        :active="route().current('dashboard')"
                                    >
                                        Tableau de bord
                                    </jet-dropdown-link>
                                    <jet-dropdown-link
                                        :href="route('profile.show')"
                                    >
                                        Profile
                                    </jet-dropdown-link>

                                    <!-- <div class="border-t border-gray-100"></div> -->

                                    <!-- Authentication -->
                                    <form @submit.prevent="logout">
                                        <jet-dropdown-link as="button">
                                            Se déconnecter
                                        </jet-dropdown-link>
                                    </form>
                                </template>
                            </jet-dropdown>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</template>
<script>
import JetApplicationMark from "@/Jetstream/ApplicationMark";
import JetBanner from "@/Jetstream/Banner";
import JetDropdown from "@/Jetstream/Dropdown";
import JetDropdownLink from "@/Jetstream/DropdownLink";
import JetNavLink from "@/Jetstream/NavLink";
import JetResponsiveNavLink from "@/Jetstream/ResponsiveNavLink";
import Avatar from "vue-avatar";

export default {
    components: {
        JetApplicationMark,
        JetBanner,
        JetDropdown,
        JetDropdownLink,
        JetNavLink,
        JetResponsiveNavLink,
        Avatar
    },

    data() {
        return {
            showingNavigationDropdown: false
        };
    },

    methods: {
        logout() {
            this.$inertia.post(route("logout"));
        }
    },
    computed: { isUserConnected() {} }
};
</script>
