<template>
  <div>
    <navbar></navbar>
    <h1>Page des logements</h1>
  </div>
</template>

<script>
import Navbar from "../Components/Navbar";
export default {
  components: {
    Navbar,
  },
};
</script>
