<template>
    <dashboard>
        <div
            class=" flex mx-auto  flex-col w-3/4 mt-10 rounded-3xl bg-gray-50 shadow-2xl p-5"
        >
            <div class="text-2xl font-extrabold text-blue-900 mx-auto my-5">
                Ajouter un site touristique
            </div>
            <div class="w-full mx-auto p-5">
                <form
                    method="post"
                    action="nomdelapage.php"
                    enctype="multipart/form-data"
                    class="mx-auto"
                >
                    <div class="flex mb-5 mx-auto">
                        <label for="nom" class="text-xl py-2 w-1/3">
                            Nom du site
                        </label>
                        <input
                            type="text"
                            id="nom"
                            name="nom"
                            class="form-input rounded w-2/3"
                            placeholder="Musée des civilisation de Dschang"
                        />
                    </div>
                    <div class="flex mb-5">
                        <label for="nom" class="text-xl py-2 w-1/3">
                            Localisation
                        </label>
                        <input
                            type="text"
                            id="nom"
                            name="nom"
                            class="form-input rounded w-2/3"
                            placeholder="Dschang-Foto"
                        />
                    </div>
                    <div class="flex mb-5">
                        <label for="nom" class="text-xl py-2 w-1/3">
                            Description
                        </label>
                        <textarea
                            class="form-textarea mt-1 block w-2/3 rounded-l-md"
                            rows="4"
                            placeholder="Donner la description du site"
                        ></textarea>
                    </div>
                    <div class="flex mb-5">
                        <label for="nom" class="text-xl py-2 w-1/3">
                            Selectionner tous les logements proches du site
                        </label>
                        <select class="form-multiselect" multiple>
                            <option> Mbo'o Hôtel </option>
                            <option>Hôtel du lac </option>
                            <option> Hôtel Adys </option>
                            <option> Hôtel De Malte </option>
                        </select>
                    </div>

                    <div class="flex mb-5">
                        <label for="nom" class="text-xl py-2 w-1/3">
                            Image du site
                        </label>
                        <input
                            type="file"
                            name="fileToUpload"
                            id="fileToUpload"
                            class="rounded w-2/3 py-3"
                            placeholder="Dschang-Foto"
                        />
                    </div>

                    <div class="flex mx-auto mb-5 mt-10 justify-center ">
                        <input
                            type="submit"
                            value="Ajouter"
                            class="rounded-full bg-blue-900 text-white py-2 px-3 cursor-pointer font-extrabold mr-10 w-28"
                        />
                        <input
                            type="reset"
                            value="Annuler"
                            class="rounded-full bg-red-600 text-white py-2 px-3 cursor-pointer font-extrabold ml-10 w-28"
                        />
                    </div>
                </form>
            </div>
        </div>
    </dashboard>
</template>
<script>
import Dashboard from "@/Pages/Dashboard";
export default {
    components: {
        Dashboard
    }
};
</script>
