<template>
  <div>
    <navbar></navbar>
    <div>
      <div v-for="siteGroup in chunkSites" :key="siteGroup.id" class="flex">
        <div v-for="site in siteGroup" :key="site.id" class="w-1/2 py-5">
          <div class="mx-auto ml-10 mr-10 shadow-2xl">
            <div>
              <img :src="'/images/sites/' + site.chemin" />
            </div>
            <div class="mx-auto text-xl font-bold text-center pt-5">
              {{ site.nom_st }}
            </div>
            <p class="text-justify pl-5 pr-5 pt-5">
              {{ site.description_st | truncate(300) }}
            </p>
            <div class="flex pb-6">
              <a
                :href="'/sites/' + site.id"
                class="mx-auto mt-10 bg-yellow-700 rounded p-2 text-white font-bold hover:bg-yellow-800"
              >
                Voir plus
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import Navbar from "../Components/Navbar";
import Footer from "../Components/Footer";

export default {
  components: {
    Navbar,
    Footer,
  },
  props: ["sites"],
  data() {
    return {
      siteList: this.sites,
    };
  },
  computed: {
    chunkSites() {
      const result = [];
      for (let i = 0; i < this.siteList.length; i += 2) {
        result.push(this.siteList.slice(i, i + 2));
      }
      return result;
    },
  },
  filters: {
    truncate(text, stop) {
      return text.slice(0, stop) + (stop < text.length ? "..." : "");
    },
  },
};
</script>
