<template>
  <div class="bg-gray-50">
    <navbar></navbar>
    <div class="w-full flex py-5">
      <div class="w-3/4 ml-10">
        <div class="h-auto">
          <img src="/images/sites/2.jpg" class="h-3/4 w-full rounded shadow-md" />
        </div>
        <div class="mt-10 text-2xl font-extrabold">Lieu de logement à proximité</div>
        <div class="flex justify-between">
          <div>
            <img
              src="/images/logements/hotel1.jpg"
              class="rounded shadow-md p-2 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-105"
            />
          </div>
          <div>
            <img
              src="/images/logements/hotel1.jpg"
              class="rounded shadow-md p-2 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-105"
            />
          </div>
        </div>
      </div>
      <div class="w-1/3 text-justify shadow p-5 rounded-lg mr-10 bg-white">
        <div class="text-xl font-extrabold m-3 text-center">
          Lorem adipisicing elit. Non, repellat?
        </div>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex modi numquam optio
          corrupti mollitia nisi laborum dolor officia esse. Incidunt consequatur quidem a
          accusantium atque nesciunt enim? Voluptatibus, temporibus obcaecati?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, id? Suscipit
          beatae doloremque quaerat fuga modi illum quo reprehenderit omnis ad adipisci,
          ipsam aperiam dignissimos cum? Quos ad officia obcaecati.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, id? Suscipit
          beatae doloremque quaerat fuga modi illum quo reprehenderit omnis ad adipisci,
          ipsam aperiam dignissimos cum? Quos ad officia obcaecati.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, id? Suscipit
          beatae doloremque quaerat fuga modi illum quo reprehenderit omnis ad adipisci,
          ipsam aperiam dignissimos cum? Quos ad officia obcaecati.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, id? Suscipit
          beatae doloremque quaerat fuga modi illum quo reprehenderit omnis ad adipisci,
          ipsam aperiam dignissimos cum? Quos ad officia obcaecati.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, id? Suscipit
          beatae doloremque quaerat fuga modi illum quo reprehenderit omnis ad adipisci,
          ipsam aperiam dignissimos cum? Quos ad officia obcaecati.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, id? Suscipit
          beatae doloremque quaerat fuga modi illum quo reprehenderit omnis ad adipisci,
          ipsam aperiam dignissimos cum? Quos ad officia obcaecati.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, id? Suscipit
          beatae doloremque quaerat fuga modi illum quo reprehenderit omnis ad adipisci,
          ipsam aperiam dignissimos cum? Quos ad officia obcaecati.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, id? Suscipit
          beatae doloremque quaerat fuga modi illum quo reprehenderit omnis ad adipisci,
          ipsam aperiam dignissimos cum? Quos ad officia obcaecati.
        </p>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import Navbar from "../Components/Navbar";
import Footer from "../Components/Footer";
export default {
  components: {
    Navbar,
    Footer,
  },
};
</script>
