<template>
  <div>
    <navbar></navbar>
    <div v-for="siteGroup in groupedSite" :key="siteGroup.id">
      <div class="flex shadow-2xl">
        <div class="w-1/2">
          <img :src="'/images/sites/' + siteGroup[0].chemin" />
        </div>
        <div class="w-1/2 pl-10 pr-10 text-justify mt-5">
          <div class="mx-auto text-xl py-5 font-bold text-center">
            {{ siteGroup[0].nom_st }}
          </div>
          <p>{{ siteGroup[0].description_st | truncate(700) }}</p>
          <div class="flex">
            <a
              :href="'/sites/' + siteGroup[0].id"
              class="mx-auto mt-10 bg-yellow-700 rounded p-2 text-white font-bold hover:bg-yellow-800"
            >
              Voir plus
            </a>
          </div>
        </div>
      </div>
      <div class="flex shadow-2xl">
        <div class="w-1/2 pl-10 pr-10 text-justify mt-5">
          <div class="mx-auto text-xl py-5 font-bold text-center">
            {{ siteGroup[1].nom_st }}
          </div>
          {{ siteGroup[1].description_st | truncate(300) }}

          <div class="flex">
            <a
              :href="'/sites/' + siteGroup[1].id"
              class="mx-auto mt-10 bg-yellow-700 rounded p-2 text-white font-bold hover:bg-yellow-800"
            >
              Voir plus
            </a>
          </div>
        </div>
        <div class="w-1/2">
          <img :src="'/images/sites/' + siteGroup[1].chemin"/>
        </div>
      </div>
    </div>

    <Footer></Footer>
  </div>
  
</template>

<script>
import Navbar from "./Components/Navbar";
import Footer from "./Components/Footer";
export default {
  components: {
    Navbar,
    Footer,
  },
  props: ["sites"],
  data() {
    return {
      siteList: this.sites,
      cpt: 0,
    };
  },
  mounted() {
    console.log(this.siteList);
  },
  computed: {
    groupedSite() {
      const result = [];
      for (let i = 0; i < this.siteList.length; i += 2) {
        result.push(this.siteList.slice(i, i + 2));
      }
      return result;
    },
  },
  filters: {
    truncate(text, stop) {
      return text.slice(0, stop) + (stop < text.length ? "..." : "");
    },
  },
};
</script>
