<template>
    <dashboard>
        <div
            class=" flex mx-auto  flex-col w-3/4 mt-10 rounded-3xl bg-gray-50 shadow-2xl p-5"
        >
            <div class="text-2xl font-extrabold text-blue-900 mx-auto my-5">
                Ajouter un produit
            </div>
            <div class="w-full mx-auto p-5">
                <form
                    method="post"
                    action="nomdelapage.php"
                    enctype="multipart/form-data"
                    class="mx-auto"
                >
                    <div class="flex mb-5 mx-auto">
                        <label for="nom" class="text-xl py-2 w-1/3">
                            Nom
                        </label>
                        <input
                            type="text"
                            id="nom"
                            name="nom"
                            class="form-input rounded w-2/3"
                            placeholder="Résidence Talla"
                        />
                    </div>
                    <div class="flex mb-5">
                        <label for="nom" class="text-xl py-2 w-1/3">
                            Prix
                        </label>
                        <input
                            type="number"
                            id="nom"
                            name="nom"
                            class="form-input rounded w-2/3"
                            placeholder="5000 FCFA"
                        />
                    </div>
                    <div class="flex mb-5">
                        <label for="nom" class="text-xl py-2 w-1/3">
                            Contact du vendeur
                        </label>
                        <input
                            type="number"
                            id="nom"
                            name="nom"
                            class="form-input rounded w-2/3"
                            placeholder="237 XXXXXXXX"
                        />
                    </div>

                    <div class="flex mb-5">
                        <label for="nom" class="text-xl py-2 w-1/3">
                            Image du produit
                        </label>
                        <input
                            type="file"
                            name="fileToUpload"
                            id="fileToUpload"
                            class="rounded w-2/3 py-3"
                            placeholder="Dschang-Foto"
                        />
                    </div>

                    <div class="flex mx-auto mb-5 mt-10 justify-center ">
                        <input
                            type="submit"
                            value="Ajouter"
                            class="rounded-full bg-blue-900 text-white py-2 px-3 cursor-pointer font-extrabold mr-10 w-28"
                        />
                        <input
                            type="reset"
                            value="Annuler"
                            class="rounded-full bg-red-600 text-white py-2 px-3 cursor-pointer font-extrabold ml-10 w-28"
                        />
                    </div>
                </form>
            </div>
        </div>
    </dashboard>
</template>
<script>
import Dashboard from "@/Pages/Dashboard";

export default {
    components: {
        Dashboard
    }
};
</script>
