<template>
    <div class="bg-gray-100">
        <navbar></navbar>
        <div>
            <div class="flex">
                <div
                    class="w-1/5 h-1/5 mx-auto my-8 rounded transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-105"
                >
                    <img src="/images/produits/1.jpg" />
                    <div class="bg-yellow-500 text-white p-3 font-semibold">
                        Lorem ipsum dolor sit, amet consectetur adipisicing.
                    </div>
                </div>
                <div
                    class="w-1/5 h-1/5 mx-auto my-8 rounded transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-105"
                >
                    <img src="/images/produits/2.jpg" />
                </div>
                <div
                    class="w-1/5 h-1/5 mx-auto my-8 rounded transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-105"
                >
                    <img src="/images/produits/1.jpg" />
                </div>
                <div
                    class="w-1/5 h-1/5 mx-auto my-8 rounded transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-105"
                >
                    <img src="/images/produits/2.jpg" />
                </div>
            </div>
            <div class="flex">
                <div
                    class="w-1/5 h-1/5 mx-auto my-8 rounded transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-105"
                >
                    <img src="/images/produits/1.jpg" />
                </div>
                <div
                    class="w-1/5 h-1/5 mx-auto my-8 rounded transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-105"
                >
                    <img src="/images/produits/1.jpg" />
                </div>
                <div
                    class="w-1/5 h-1/5 mx-auto my-8 rounded transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-105"
                >
                    <img src="/images/produits/2.jpg" />
                </div>
                <div
                    class="w-1/5 h-1/5 mx-auto my-8 rounded transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-105"
                >
                    <img src="/images/produits/1.jpg" />
                </div>
            </div>
        </div>
        <Footer></Footer>
    </div>
</template>

<script>
import Navbar from "../Components/Navbar";
import Footer from "../Components/Footer";
export default {
    components: {
        Navbar,
        Footer
    }
};
</script>
